.menu{
    border: 2px solid red;
    height: 60px;
}
.content{
    border: 2px dotted blue;
    height: 300px;
}
.slide{
    border: 2px double green;
    height: 300px;
}
.footer{
    border: 2px solid blue;
    height: 40px;
}